<%
/**
 * Erwartet:
 *  - blocks: Array aus industry.blocks
 *  - position: String (z. B. 'before_cta')
 *
 * Unterstützte Typen:
 *  - richtext: { type, position, html }
 *  - gallery:  { type, position, items:[{img_url,img_alt,caption?}] }
 *  - cta:      { type, position, headline?, subline?, button?:{label,url} }
 */
const list = (Array.isArray(blocks) ? blocks : []).filter(b => b && b.position === position);
%>

<% list.forEach(function(block){ %>
<% if (block.type === 'richtext' && block.html) { %>
<div id="ContainerMarginSetup section-richtext">
  <div id="ContainerCenterWidthSetup">
    <%- block.html %>
  </div>
</div>
<% } else if (block.type === 'gallery' && Array.isArray(block.items)) { %>
<div id="ContainerMarginSetup section-gallery">
  <div id="ContainerCenterWidthSetup grid grid-3">
    <% block.items.forEach(function(it){ %>
    <figure class="gallery-item">
      <img src="<%= it.img_url %>" alt="<%= it.img_alt || '' %>">
      <% if (it.caption) { %><figcaption><%= it.caption %></figcaption><% } %>
    </figure>
    <% }) %>
  </div>
</div>

<% } else if (block.type === 'cta') { %>
<div id="ContainerMarginSetup section-cta"">
  <div id=" ContainerCenterWidthSetup grid grid-3">
  <% if (block.headline) { %><h2><%= block.headline %></h2><% } %>
  <% if (block.subline)  { %><p><%= block.subline %></p><% } %>
  <% if (block.button && block.button.url && block.button.label) { %>
  <a class="btn btn-primary" href="<%= block.button.url %>"><%= block.button.label %></a>
  <% } %>
</div>
</div>
<% } %>
<% }) %>