<div class="pricing-grid">
  <% (packages || []).forEach(pkg=> { %>
  <div class="pricing-card animate-on-scroll" id="pkg-<%= pkg.id || pkg.slug || pkg.packageKey %>">
    <h3>
      <%= pkg.displayName || pkg.name %>
    </h3>
    <div class="p1rem">
      <% if (pkg.shortDescription || pkg.description) { %>
        <p class="package-description"><%= pkg.shortDescription || pkg.description %></p>
      <% } %>

      <p class="price">
        <%= pkg.priceLabel || pkg.price %>
      </p>

      <ul class="features-list">
        <% (pkg.features || []).forEach(feat=> { %>
        <li>
          <%= feat.text || feat.featureText || feat %>
        </li>
        <% }); %>
      </ul>

      <a class="btn btn-primary" href="<%= pkg.ctaUrl || `/kontakt?paket=${pkg.packageKey || pkg.slug || pkg.id}` %>">
        <%= pkg.ctaLabel || 'Anfragen' %>
      </a>
    </div>
  </div>
  <% }); %>
</div>
